<html
        lang="es"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

        layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1 class="text-center"> Detalles del grupo </h1>

    <hr>

    <dl class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9">[[${grupo.id}]]</dd>

        <dt class="col-sm-3">Nombre</dt>
        <dd class="col-sm-9">[[${grupo.nombre}]]</dd>

        <dt class="col-sm-3">Descripción</dt>
        <dd class="col-sm-9">[[${grupo.descripcion}]]</dd>
    </dl>

    <a th:href="@{/grupos}" class="btn btn-primary">Regresar</a>
    <a th:href="@{/grupos/edit/{id}(id=${grupo.id})}" class="btn btn-warning">Editar</a>
</div>